a:link {
  text-decoration: none;
  word-spacing: 55px;
}
body {
  background-color: aquamarine;
}
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.button1 {
  background-color: rgb(119, 119, 179);
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 2px #bae8e8;
}
.button1:hover {
  background-color: blue;
}
.button2 {
  background-color: orangered;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 2px #bae8e8;
}
.button2:hover {
  background-color: orange;
}
